html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cont {
  background: url(../assets/manab_racing01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: content-box;
  height: 90vh;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.overlay-2 {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}


.cont2 {
  background: url(../assets/about.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: content-box;
  height: 90vh;
}

@media screen and (max-width:900px) {
  .cont {
    width: 70vh;
  }

  .cont2 {
    width: 70vh;
  }
}

@media screen and (max-width:600px) {
  .cont {
    width: 50vh;
  }

  .cont2 {
    width: 50vh;
  }
}

.formula-student {

  background: url(../assets/formula_student.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: content-box;
  height: 50vh;

}


@tailwind base;
@tailwind components;
@tailwind utilities;